@using LogOT.Application.EmployeeContracts.Commands.CreateEmployeeContract;
@using LogOT.Domain.Enums;
@model CreateEmployeeContractCommand
@{
<<<<<<< HEAD
    //var status = Enum.GetValues(typeof(EmployeeContractStatus)).Cast<EmployeeContractStatus>();
=======
>>>>>>> 3328dfa2d07b2d3e602e191f6c4ef3b4204b2190
    var salaryType = Enum.GetValues(typeof(SalaryType)).Cast<SalaryType>();
    var contractType = Enum.GetValues(typeof(ContractType)).Cast<ContractType>();
}
<!DOCTYPE html>
<html>
<head>
<<<<<<< HEAD
    <title>Create Leave Log</title>
=======
    <title>Create Employee Contract</title>
>>>>>>> 3328dfa2d07b2d3e602e191f6c4ef3b4204b2190
    <style>
        body {
            font-family: Arial, sans-serif;
        }

        h2 {
            color: #333;
        }

        label {
            display: block;
            margin-top: 10px;
        }

        input[type="text"],
        input[type="date"],
        textarea {
            width: 200px;
            padding: 5px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        button[type="submit"] {
            padding: 10px 20px;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <h2>Create Employee Contract</h2>

    <form action="Create" method="post">
        <label for="EmployeeId">Employee:</label>
        <input type="text" id="EmployeeId" name="EmployeeId" required>
        <br>

        <label for="File">File:</label>
        <input type="text" id="File" name="File" required>
        <br>

        <label for="StartDate">Start Date:</label>
        <input type="date" id="StartDate" name="StartDate" required>
        <br>

        <label for="EndDate">End Date:</label>
        <input type="date" id="EndDate" name="EndDate" required>
        <br>

        <label for="Job">Job:</label>
        <textarea id="Job" name="Job" rows="4" required></textarea>
        <br>

        <label for="Salary">Salary:</label>
        <input type="number" id="Salary" name="Salary" required>
        <br>

        <label for="SalaryType">Salary Type:</label>
        <select id="SalaryType" name="SalaryType" required>
            @foreach (var type in salaryType)
            {
                <option value="@type">@type</option>
            }
        </select>
        <br>

        <label for="ContractType">Contract Type:</label>
        <select id="ContractType" name="ContractType" required>
            @foreach (var type in contractType)
            {
                <option value="@type">@type</option>
            }
        </select>
        <br>

        <button type="submit">Create</button>
    </form>
</body>
</html>
<<<<<<< HEAD
=======

>>>>>>> 3328dfa2d07b2d3e602e191f6c4ef3b4204b2190
