@using LogOT.Application.LeaveLogs.Commands.CreateLeaveLog;
@using LogOT.Domain.Enums;
@model CreateLeaveLogCommand
@{
    ViewData["Title"] = "Employee Contract - Create";
    Layout = "~/Views/Shared/Layout.cshtml";
}
@await Component.InvokeAsync("NToastNotify")
<div>
    <div class="vertical-overlay"></div>
    <div>
        <div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header d-flex justify-content-between">
                                <h4>Create Leave Log</h4>
                                <div class="flex-shrink-0">
                                    <div class="form-check form-switch form-switch-right form-switch-md">
                                        <label for="form-grid-showcode" class="form-label text-muted">Show Form</label>
                                        <input class="form-check-input code-switcher" type="checkbox" id="form-grid-showcode">
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="live-preview">
                                    <form action="Create" method="post">
                                        <div class="row">
                                            <input type="hidden" id="EmployeeId" name="EmployeeId" value="@ViewBag.EmployeeId" required>
                                            <div class="col-md-6">
                                                <div class="form-group mb-3">
                                                    <label for="StartDate">Start Date:</label>
                                                    <input type="date" class="form-control" id="StartDate" name="StartDate" value="@Model.StartDate.ToString("yyyy-MM-dd")">
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group mb-3">
                                                    <label for="EndDate">End Date:</label>
                                                    <input type="date" class="form-control" id="EndDate" name="EndDate" value="@Model.EndDate.ToString("yyyy-MM-dd")">
                                                </div>
                                            </div>

                                            <div class="form-group mb-3">
                                                <label for="Reason">Reason:</label>
                                                <input type="text" class="form-control" id="Reason" name="Reason" value="@Model.Reason">
                                            </div>

                                            <div>
                                                <button type="submit" class="btn btn-primary">Save</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

