@using LogOT.Application.LeaveLogs.Commands.UpdateLeaveLog;
@using LogOT.Domain.Enums;
@model LeaveLog
<!DOCTYPE html>
<html>
<head>
    <title>Update Leave Log</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }

        h2 {
            color: #333;
        }

        label {
            display: block;
            margin-top: 10px;
        }

        input[type="text"],
        input[type="date"],
        textarea {
            width: 200px;
            padding: 5px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        button[type="submit"] {
            padding: 10px 20px;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <h2>Update Leave Log</h2>

    <form action="Update" method="post">
        <input type="hidden" id="Id" name="Id" value="@Model.Id" required>

        <label for="StartDate">Start Date:</label>
        <input type="date" id="StartDate" name="StartDate" value="@Model.StartDate.ToString("yyyy-MM-dd")" required />
        <br>

        <label for="EndDate">End Date:</label>
        <input type="date" id="EndDate" name="EndDate" value="@Model.EndDate.ToString("yyyy-MM-dd")" required />
        <br>

        <label for="Reason">Reason:</label>
        <textarea id="Reason" name="Reason" rows="4" required>@Model.Reason</textarea>
        <br>

        <button type="submit">Update</button>
    </form>
</body>
</html>