<!DOCTYPE html>
<html>
<head>
    <title>Đăng ký</title>
</head>
<body>
    <h2>Đăng ký</h2>
    <form method="post" action="/register">
        <div>
            <label for="username">Tên đăng nhập:</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
        </div>
        <div>
            <label for="fullname">Họ và tên:</label>
            <input type="text" id="fullname" name="fullname" required>
        </div>
        <div>
            <label for="fullname">Địa chỉ :</label>
            <input type="text" id="fullname" name="address" required>
        </div>
        <div>
            <label for="fullname">Hinh:</label>
            <input type="text" id="fullname" name="image" required>
        </div>
        <div>
            <label for="password">Mật khẩu:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div>
            <label for="confirmPassword">Xác nhận mật khẩu:</label>
            <input type="password" id="confirmPassword" name="confirmPassword" required>
        </div>
        <div>
            <input type="submit" value="Đăng ký">
        </div>
    </form>
</body>
</html>
